@font-face {
    font-family: 'florante_at_lauraregular';
    src: url('/fonts/FLORLRG_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'quaerite_regnum_deiregular';
    src: url('quaeriteregnumdei-webfont.woff2') format('woff2'),
         url('quaeriteregnumdei-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

